/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */

* {
  margin: 0;
  padding: 0;
}

/* navbar starting  */
.navbar-light .navbar-nav .nav-link {
  color: #204f87;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  padding: 0;
  position: relative;
  font-family: "Montserrat", sans-serif;
}
.navbar-light .navbar-nav .nav-item {
  padding: 0 10px;
}
.navbar-light .navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  height: 4px;
  width: 0%;
  background-color: #f15527;
  -webkit-transition: 0.4s all ease-in-out;
  -o-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
  display: block;
}
.navbar-light .navbar-nav .nav-link:hover::before {
  width: 47%;
}
.navbar-light .navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -8px;
  height: 4px;
  width: 0%;
  background-color: #f15527;
  -webkit-transition: 0.4s all ease-in-out;
  -o-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
  display: block;
}
.navbar-light .navbar-nav .nav-link:hover::after {
  width: 47%;
}
img,
svg {
  vertical-align: top;
}

/* banner part starting  */
.banner {
  background-image: url(../images/banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}
.banner h1 {
  color: white;

  font-size: 67px;

  text-transform: uppercase;

  font-family: "Montserrat", sans-serif;

  font-weight: bold;
}
.hg {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}
.icon {
  font-size: 20px;
  position: absolute;
  top: 80%;
  left: 50%;
  color: white;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: updown 1s linear infinite;
          animation: updown 1s linear infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
@-webkit-keyframes updown {
  0% {
    top: 80%;
  }
  100% {
    top: 85%;
  }
}
@keyframes updown {
  0% {
    top: 80%;
  }
  100% {
    top: 85%;
  }
}

/* what_we_are starting  */
.wwr {
}
.wwr_container {
  margin: 60px 0;
}
.wwr span {
  width: 0px;
  height: 5px;
  margin-bottom: 5px;
  display: inline-block;
  background-color: #f05428;
  -webkit-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}
.wwr:hover span {
  width: 70px;
}
.wwr h1 {
  color: #204f87;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
  margin-top: 5px;
}
.wwr p {
  font-family: "Open Sans", sans-serif;
  color: #b0b0b1;
  font-size: 19px;
}

/* what_we_do starting */
.wwd {
  padding: 60px 0;
  background-color: #f7f8f8;
  background-image: url(../images/wwd_bg.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 1190px;
}
.heading {
  padding: 20px 0 45px 0;
}
.heading span {
  width: 0px;
  height: 5px;
  display: block;
  margin-bottom: 5px;
  background-color: #f05428;
  -webkit-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  margin: auto;
}
.wwd:hover span {
  width: 70px;
}
.heading h1 {
  color: #204f87;
  text-align: center;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.images {
  position: relative;
  cursor: pointer;
}
.images::after {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 0;
  background-color: #28377e;
  opacity: 0.3;
  -webkit-transition: 0.4s all ease-in-out;
  -o-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}
.images:hover::after {
  height: 100%;
}
.images::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  -webkit-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  background: -webkit-gradient(
    linear,
    left top, left bottom,
    from(rgba(125, 185, 232, 0)),
    to(rgba(40, 55, 126, 1))
  );
  background: -o-linear-gradient(
    top,
    rgba(125, 185, 232, 0) 0%,
    rgba(40, 55, 126, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(125, 185, 232, 0) 0%,
    rgba(40, 55, 126, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#28377e',GradientType=0 );
}
.images:hover::before {
  height: 100%;
}
.text {
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  text-align: center;
  z-index: 999;
}
.images:hover .text {
  top: 50%;
  opacity: 1;
}
.text h1 {
  color: white;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.image_icon {
  color: white;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 80%;
  left: 45%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  opacity: 0;
  z-index: 999;
}
.images:hover .image_icon {
  opacity: 1;
  left: 50%;
}

/* attorney part starting  */
.attorney_section {
  background-image: url(../images/our_atto_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 2%;
}
.attorney_section span {
  width: 0px;
  height: 5px;
  display: inline-block;
  background-color: #f05428;
  margin-bottom: 6px;
  -webkit-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  margin-top: 30%;
}
.attorney_section:hover span {
  width: 70px;
}
.attorney_section h1 {
  color: white;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 38px;
  font-family: "Montserrat", sans-serif;
}
.attorney_section p {
  color: #929dcf;
  margin-bottom: 45px;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}
.attorney_section a {
  color: #f05428;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}
.attorney_image {
  position: relative;
  cursor: pointer;
}
.attorney_image::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  -webkit-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  background: -webkit-gradient(
    linear,
    left top, left bottom,
    from(rgba(40, 55, 126, 0)),
    color-stop(51%, rgba(40, 55, 126, 0)),
    to(rgba(40, 55, 126, 1))
  );
  background: -o-linear-gradient(
    top,
    rgba(40, 55, 126, 0) 0%,
    rgba(40, 55, 126, 0) 51%,
    rgba(40, 55, 126, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(40, 55, 126, 0) 0%,
    rgba(40, 55, 126, 0) 51%,
    rgba(40, 55, 126, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0028377e', endColorstr='#28377e',GradientType=0 );
}
.attorney_image:hover::before {
  height: 100%;
}
.attorney_text {
  position: absolute;
  top: 90%;
  left: 10%;
  -webkit-transform: translateY(-75%);
      -ms-transform: translateY(-75%);
          transform: translateY(-75%);
  opacity: 0;
  -webkit-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}
.attorney_image:hover .attorney_text {
  top: 85%;
  opacity: 1;
}
.attorney_text h2 {
  color: white;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

/* language part starting  */
.languages {
  margin-bottom: 100px;
}
.languages:hover span {
  width: 70px;
}
.languages h2 {
  color: #204f87;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
}
.languages p {
  color: #b1b0b1;
  margin-top: 25px;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}
.languages a {
  color: #f05428;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}

/* contact us part staring  */
.contact {
  background-color: #28377e;
  padding: 40px 0 100px 0 !important;
}
.contact:hover span {
  width: 70px;
}
.contact .heading h1 {
  color: #fff;
  text-transform: uppercase;
}
form {
  font-family: "Montserrat", sans-serif;
}
input {
  background-color: transparent !important;
  border: none !important;
  border-bottom: 1px solid #b1b0b1 !important;
  border-radius: 0 !important;
  caret-color: white;
  margin-top: 45px;
  padding-left: 0 !important;
  color: white !important;
}
input::-webkit-input-placeholder {
  color: white !important;
  font-weight: 500;
}
input::-moz-placeholder {
  color: white !important;
  font-weight: 500;
}
input:-ms-input-placeholder {
  color: white !important;
  font-weight: 500;
}
input::-ms-input-placeholder {
  color: white !important;
  font-weight: 500;
}
input::placeholder {
  color: white !important;
  font-weight: 500;
}
input:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
input[type="submit"] {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  border: none !important;
  border: 2px solid #f15527 !important;
  padding: 10px 50px !important;
  background: #f15527 !important;
  -webkit-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}
input[type="submit"]:hover {
  background: transparent !important;
}
textarea {
  background-color: transparent !important;
  border: none !important;
  border-bottom: 1px solid #b1b0b1 !important;
  border-radius: 0 !important;
  caret-color: white;
  padding-left: 0 !important;
  color: white !important;
}
textarea::-webkit-input-placeholder {
  color: white !important;
  font-weight: 500;
}
textarea::-moz-placeholder {
  color: white !important;
  font-weight: 500;
}
textarea:-ms-input-placeholder {
  color: white !important;
  font-weight: 500;
}
textarea::-ms-input-placeholder {
  color: white !important;
  font-weight: 500;
}
textarea::placeholder {
  color: white !important;
  font-weight: 500;
}
textarea:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

/* footer part staring  */

footer {
  background-color: #0c1234;
  padding: 45px 0;
}
.footer_heading {
  font-family: "Montserrat", sans-serif;
  color: #616ca8;
}
footer h4 {
  margin-bottom: 0;
}
footer i {
  font-size: 30px;
  margin-left: 40px;
  color: #616ca8;
}
footer i:hover {
  color: white;
}
